html {
  font-family: sans-serif;
  word-break: break-word;
}
body {  
  height: 100%;
  width: 100%;
  margin: 0;
}
header, main, footer {
  margin: 0 8px;
}
button, [type="submit"], [type="button"] {
  cursor: pointer;
}
